body{
    text-align: center;
    background-color: #FFDCF4;
    }
  
h1{
    font-family: "Righteous";
    font-size: 5rem;
    color: #957DAD;
    text-shadow: 5px 0  #C1BBDD;
    }
  
h2{
    font-family: "Righteous";
    font-size: 2.5rem;
    color: #957DAD;
    text-shadow: 3px 0  #C1BBDD;
    text-decoration: underline;
    text-decoration-color: #FFB9C4;
    }
.HowtoPlay{
    font-family: "Poppins";
    font-size: 1.25rem;
    color: #1100FF;
    text-align: justify;
    text-justify: inter-word;
    }
  
.Field{
    font-family: "Poppins";
    font-size: 1.5rem;
    color: #1100FF;
    }

.Submit{
    font-family: "Poppins";
    font-size: 1.5rem;
    color:  #ffffff;
    background-color: #C1BBDD;
    }

.result{
    font-family: "Poppins";
    font-size: 2rem;
    color: #ffffff;
    background-color: #C1BBDD;

    }

.Previous{
    font-family: "Poppins";
    font-size: 1.5rem;
    color: #1100FF;
    text-align: justify;
    text-justify: inter-word;
    }
.turn{
    font-family: "Poppins";
    font-size: 1rem;
    color: #ffffff;
    background-color: #C1BBDD;
    }
button{
    font-family: "Poppins";
    font-size: 2rem;
    color:  #ffffff;
    background-color: #C1BBDD;
    }
  